/* Base styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin-top: 40px;}
.product-details {
  display: flex;
  /* flex-wrap: wrap; Allow items to wrap on smaller screens */
  background-color: var(
    --color-2bagy
  ); /* White background for product details */
  border-radius: 5px;
  flex-direction: row;
  margin: 20px 5px;
  justify-content: center;
  padding: 20px;
  box-shadow: 0px 0px 5px #ccc;
}
.con {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 70%;
  margin-left: 30px;
}
.product-color {
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/* Product image */
.product-image {
  padding: 10px;
    height: fit-content;
    width: 50%;
}

.product-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Product information */
.product-info {
  flex: 1 1 auto; /* Allow flexible space for product information */
  padding: 10px;
}

h2 {
  margin-bottom: 10px;
  color: var(--color-brown);
}

.price,
.description {
  margin-bottom: 5px;
}
.price span,
span {
  color: var(--color-brown);
  font-weight: 500;
  margin-right: 3px;
}

.description {
  line-height: 1.5; /* Adjust line spacing */
}

.quantity-group {
  display: flex;
  align-items: start;
  overflow: hidden;
}

.quantity-button {
  background-color: var(--color-bagy);
  color: var(--color-blue);
  padding: 2.7px 10px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 0px;
  font-size: 19px;
  transition: background-color 0.2s ease-in-out;
}
.minus {
  border-left: 1px solid var(--color-brown);
  border-top: 1px solid var(--color-brown);
  border-bottom: 1px solid var(--color-brown);
  border-right: none;
  color: var(--color-brown) ;
}
.plus {
  border-right: 1px solid var(--color-brown);
  border-top: 1px solid var(--color-brown);
  border-bottom: 1px solid var(--color-brown);
  border-left: none;
  color: var(--color-brown) ;

}
.quantity-button:hover {
  background-color: #f5f5f5;
}

.quantity-input {
  border-top: 1px solid var(--color-brown);
  border-bottom: 1px solid var(--color-brown);
  border-right: none;
  border-left: none;

  background-color: var(--color-bagy);

  padding: 5px 1px;
  text-align: center;
  width: 40px; /* Adjust width as needed */
}

.form-button {
  color: var(--color-brown);
  font-size: 14px;
  padding: 3px 5px;
  letter-spacing: -0.5px;
  background-color: var(--color-2bagy);
  border: none;
  padding-bottom: 5px;
}

.buy {
  border: 1px solid var(--color-brown);
  background-color: var(--color-brown);
  color: var(--color-2bagy);
  border-radius: 5px;
  font-size: 14px;
  padding: 3px 5px;
  letter-spacing: -0.5px;
  margin-top: 10px;
  width: 50%;
}
.buy:hover {
  background-color: rgb(49, 45, 23);
  border: 1px solid var(--color-bagy);
}
.btn-contanier {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: start;

  align-items: center;
}
.Add {
  margin-right: 7px;
}
.Remove {
  margin-left: 7px;
  color: var(--color-brown);
  background-color: var(--color-2bagy);
}
img {
  width: 400px;
  height: 400px;
}
@media (max-width: 500px) {
  .container {
    height: 100%;
  }
  .product-details {
    height: fit-content;    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
  }
  .product-image {
    flex: none;
  }
  .product-image img {
    height: 200px;
    width: fit-content;
  }
  .buy {
    width: 100%;
  }
  .btn-contanier {
    justify-content: center;
  }
}
